scipy
matplotlib
chemiscope
scikit-learn
ase==3.22.1
tqdm
git+https://github.com/osscar-org/scicode-widgets.git@dev/aml-intro
metatensor
--extra-index-url https://luthaf.fr/nightly-wheels/
rascaline
sphericart
spherical
scipy
