scipy
matplotlib
chemiscope
scikit-learn
ase
tqdm
git+https://github.com/osscar-org/scicode-widgets.git@examples
metatensor
sphericart
--extra-index-url https://luthaf.fr/nightly-wheels/
rascaline
sphericart
spherical
